@media (min-width: 1025px) {
  .only-mobile {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .only-mobile {
    display: inline-block;
  }
}

.players-table {
  color: #ffffff;
  font-size: 14px;
  font-family: Arial;
  background-color: #202328;
}

.players-table_match {
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table {
    font-size: 12px;
  }
}

.players-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #202328;
  border-bottom: 1px solid #2d2e33;
  padding: 0 40px;
  position: relative;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__row {
    padding: 0 15px;
  }
}

@media (max-width: 1024px) {
  .players-table__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
}

.players-table__row_header {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .players-table__row_header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .players-table__row_header .players-table__data {
    display: none;
  }
}

.players-table__row_match {
  padding: 0 20px;
}

.players-table__col {
  width: 100px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .players-table__col {
    width: 100% !important;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 5px 0;
  }
  .players-table__col .only-mobile {
    margin-right: 5px;
  }
}

.players-table__col_friend {
  width: 140px;
}

@media (max-width: 1024px) {
  .players-table__col_friend {
    width: 140px !important;
  }
}

.players-table__col_match {
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media (min-width: 1025px) {
  .players-table__col_match {
    height: 59px;
  }
}

@media (max-width: 1024px) {
  .players-table__col_match {
    height: 32px;
  }
}

.players-table__col_match-title {
  text-transform: uppercase;
  font-size: 10px;
  color: #ffffff;
  opacity: 0.5;
}

.players-table__col_like {
  width: 130px;
}

.players-table__col_role-wrap {
  width: 134px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.players-table .toggle-body {
  width: 80%;
}

.players-table .toggle-body_match {
  width: 65%;
}

@media (min-width: 1025px) {
  .players-table .toggle-body_match {
    width: 60%;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table .toggle-body_match {
    width: 55%;
  }
}

@media (max-width: 767.98px) {
  .players-table .toggle-body {
    width: 100%;
  }
}

.players-table .tooltiptext {
  top: 29px;
  background: #434547;
}

.players-table .tooltiptext::after {
  border-color: transparent transparent #434547 transparent;
}

.players-table__ava {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.players-table__ava_match {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
  display: inline-block;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__ava_match {
    width: 30px;
    height: 30px;
  }
}

.players-table__ava_match img {
  border-radius: 50%;
}

.players-table__ava.online {
  position: relative;
}

.players-table__ava.online:after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #679147;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__ava {
    margin-right: 15px;
  }
}

@media (max-width: 1024px) {
  .players-table__ava {
    margin-right: 10px;
  }
}

.players-table__rating {
  color: #d99f31;
  position: relative;
}

.players-table__rating_match-up {
  color: #65B44C;
}

@media (max-width: 1024px) {
  .players-table__rating_match-up {
    margin-left: 15px;
  }
}

.players-table__rating_match-up::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -10px;
  border: 4px solid transparent;
  border-bottom: 4px solid #65B44C;
}

.players-table__rating_match-down {
  color: #CC4333;
}

@media (max-width: 1024px) {
  .players-table__rating_match-down {
    margin-left: 15px;
  }
}

.players-table__rating_match-down::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -10px;
  border: 4px solid transparent;
  border-top: 4px solid #CC4333;
}

.players-table__role {
  display: inline-block;
  padding: 5px 9px;
  margin: 2px;
  background: #181b1f;
  border-radius: 11px;
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__role {
    font-size: 11px;
  }
}

.players-table__nick {
  width: 230px;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media (max-width: 1024px) {
  .players-table__nick {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .players-table__nick {
    padding: 10px 0;
    padding-right: 20px;
  }
}

.players-table__nick_match {
  width: 210px;
}

@media (min-width: 1025px) {
  .players-table__nick_match {
    width: 40%;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__nick_match {
    width: 45%;
    padding-right: 10px;
  }
}

@media (max-width: 1024px) {
  .players-table__nick_match {
    height: 59px;
  }
}

.players-table__nick_match-title {
  width: 210px;
  padding-left: 75px;
}

@media (min-width: 1025px) {
  .players-table__nick_match-title {
    width: 40%;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__nick_match-title {
    width: 45%;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__nick_match-title {
    padding-left: 65px;
  }
}

.players-table__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .players-table__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
}

.players-table__like {
  margin: 0 7px;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__like {
    margin: 0 2px;
  }
}

.players-table__like img {
  width: 17px;
  height: 17px;
}

.players-table__add-friend {
  width: 131px;
  height: 31px;
  line-height: 31px;
  border-radius: 15px;
  text-align: center;
  border: 2px solid #2d2e33;
  color: #8b8b8b;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .players-table__add-friend {
    width: 110px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }
}

.players-table__add-friend:hover {
  background-color: #1a1d22;
}

.players-table__add-friend_title {
  border: 2px solid #d99f31;
  color: #d99f31;
  text-transform: uppercase;
}

.players-table__add-friend_title:hover {
  background-color: inherit;
}

.players-table__position {
  width: 25px;
  text-align: center;
}

.players-table__name {
  color: #FDB81C;
}

.players-table-panel {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .players-table-panel {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: #34373d;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 60px;
  }
  .players-table-panel::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    border: 5px solid transparent;
    border-left: 5px solid #8A939E;
  }
}

@media (max-width: 1024px) {
  .players-table-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    margin-top: 10px;
  }
}

.players-table-panel__button {
  display: inline-block;
  margin-right: 30px;
}

.players-table-panel__button:hover {
  opacity: .8;
}

@media (min-width: 1025px) {
  .activate-panel {
    cursor: pointer;
  }
  .activate-panel:hover .players-table-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .activate-panel:hover .players-table__nick {
    position: relative;
    z-index: 20;
  }
}
/*# sourceMappingURL=player-table.css.map */